//
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: purple;

  &:hover{
    color:green;
  }
}

header{
  width:30%;
  text-align: center;
  padding-top:50px;
  margin:auto;

  ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;

    li{
      padding: 20px 0;
      list-style: none;

      a{
        font-size: 28px;
        font-weight: bold;
        color:#000;
        text-decoration: none;

        &:hover{
          color:red;
        }
      }
    }
  }
}

.container{
  width:100%;
  padding:10%;



  h1{
    padding:5% 0;
    font-size: 36px;
    font-weight: lighter;
    color: #112455;
  }

  img{
    width:350px;
    margin:0.5%;

  }
}



footer{
  width:80%;
  padding-bottom: 20px;
  margin:auto;

  display: flex;
  justify-content: space-around;



  h1{
    font-size: 32px;
    color: #444748;
    padding-bottom: 50px;
  }

   li{
     list-style: none;
     font-size: 24px;
     color: grey;
   }
}
